# Basic Operations

In [1]:
1+1 #addition

2

In [2]:
5-5 #subtraction

0

In [3]:
1/0 #division

#it doesn't throw an exception instead it generates 'Inf'  which is short for infinity

Inf

In [4]:
5*5 #multiplication

25

In [6]:
typeof(5) #to check the datatype

Int64

In [14]:
typeof(5.0)

Float64

In [15]:
typeof("Royal")

String

In [17]:
'Royal' # unlike python it does not supports single quotes

LoadError: syntax: invalid character literal

In [68]:
println("Royal") #to print any value and move cursor to next line

Royal

In [69]:
print(1+1) # to print any value but it doesnt move cursor to new line

2

# Assignment

In [18]:
a=10
b=20
c=a+b

# simple variable assignment just like any other language

30

# Strings

In [19]:
a="Royal"
b="Bhati"

"Bhati"

In [23]:
println(a," ",b)

Royal Bhati

In [47]:
a*b # multiplication operator concatenates two string type variables

"RoyalBhati"

In [49]:
c=a*" "*b*" "*"loves"*" "*"julia" #multiple operators to concatenate multiple strings

#python uses + to concatenate 

println(c)

Royal Bhati loves julia

In [67]:
c="$a,$b"
# Constructing strings using concatenation can become a bit cumbersome,
#however. To reduce the need for these verbose calls to string or repeated multiplications, 
# Julia allows interpolation into string literals using $
println(c)

Royal,Bhati

##### More on interpolation

In [72]:
"1 + 2 = (1 + 2)" # without interpolation

"1 + 2 = (1 + 2)"

In [73]:
#The shortest complete expression after the $ is taken as the expression whose value is to be interpolated
#into the string. Thus, you can interpolate any expression into a string using parentheses
"1 + 2 = $(1 + 2)"

"1 + 2 = 3"

In [76]:
v = [1,2,3]
v,typeof(v)

([1, 2, 3], Array{Int64,1})

In [78]:
"v :$v"

"v :[1, 2, 3]"

##### end of interpolation

In [60]:
length(c) # built in function to check length of string

23

In [56]:
index=nextind(c,2) # to check next index of string

# I dont have any idea where I will ever use this but depends on person to person
index

3

In [62]:
lastindex(c) #returns last end value (pretty much like length)

23

In [31]:
a[1]

'R': ASCII/Unicode U+0052 (category Lu: Letter, uppercase)

In [39]:
a[1:5]

"Royal"

In [40]:
a[1:end] # use end to specify to take last index

"Royal"

In [41]:
a[end]

'l': ASCII/Unicode U+006c (category Ll: Letter, lowercase)

In [30]:
a[0] 
# All indexing in Julia is 1-based: the first element of any integer-indexed object is found at index 1.
#any index less than 1 is going to give you an error

BoundsError: BoundsError: attempt to access "Royal"
  at index [0]

In [80]:
#Multiline strings

str = """Hello,
         world.
         """

"Hello,\nworld.\n"

In [82]:
#You can lexicographically compare strings using the standard comparison operators

In [89]:
"royal" < "julia"

false

In [90]:
"royal"=="julia"

false

In [91]:
findfirst(isequal('r'), "royal") #find index of the first occurrence of any character

1

In [96]:
findlast(isequal('r'), "royal royal") #find index of the last occurrence of any character

7

In [98]:
findlast(isequal('p'), "xylophone played by potter")

21

In [102]:
#We can use the occursin function to check if a substring is found within a string:

In [104]:
occursin("loves", "Royal loves Julia")

true

In [105]:
occursin("loves", "Royal Loves Julia") # it is case sensitive

false

In [107]:
repeat("royal", 10) # repeat certain string specified number of times

"royalroyalroyalroyalroyalroyalroyalroyalroyalroyal"

In [133]:
@time(repeat(" ",10000))[1]

  0.000009 seconds (5 allocations: 10.031 KiB)

' ': ASCII/Unicode U+0020 (category Zs: Separator, space)

In [135]:
@time(for i=1:1000
        print("")
            end)

  0.002828 seconds (1.07 k allocations: 32.078 KiB)

Repeat is much faster

In [136]:
m = match(r"[0-9]","aaaa1aaaa2aaaa3",1) #regex match

RegexMatch("1")

In [137]:
m = match(r"(a|b)(c)?(d)", "acd")

RegexMatch("acd", 1="a", 2="c", 3="d")

In [139]:
replace("first second", r"(\w+) (?<agroup>\w+)" => s"\g<agroup> \1") #replace function

"second first"

In [144]:
println(raw"\\$ \\\"") #Raw string literals

\\$ \"